* {
    padding: 0;
    margin: 0;
}

:root {
    --main-color: #1daf1d;
}

html,
body {
    width: 100%;
    height: 100%;
    user-select:none;
}

/* 滚动条样式 */
::-webkit-scrollbar{width: 6px;height: 6px;}
::-webkit-scrollbar-thumb{border-radius: 5px;background-color: hsla(220,4%,58%,.5);transition: background-color .3s;}
::-webkit-scrollbar-thumb:hover{background-color: rgb(107, 105, 105);}
::-webkit-scrollbar-track{background-color: transparent;}

.container {
    width: 100%;
    height: 100%;
    background: #000;
    color: var(--main-color);
    display: flex;
    justify-content: space-around;
}

.discription,
.display {
    width: 40%;
    height: 90vh;
    transform: translateY(5vh);
}

.operation {
    width: 10%;
    height: 90vh;
    transform: translateY(5vh);
    overflow: hidden;
}

.operation-btns,
.speed-select {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    transition: left .3s;
}

.speed-select {
    left: 100%;
}

.btn {
    width: 50px;
    padding: 5px 10px;
    border: 1px solid var(--main-color);
    text-align: center;
    margin: 10px auto;
    cursor: pointer;
    font-weight: bold;
}

.btn-selected {
    background: var(--main-color);
    color: #fff;
}

.words,
.codes {
    display: inline-block;
    width: 100%;
    height: 50%;
}

.words {
    overflow-y: scroll;
}

.words > pre {
    text-indent: 2em;
    /* 英文自动截断 */
    word-wrap: break-word;
    word-break: break-all;
    white-space: pre-wrap;
    overflow: hidden;
    margin-top: 20px;
}

.words > pre::first-letter {
    font-size: 30px;
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.words > pre:last-child::after {
    content: '|';
    color: var(--main-color);
    /* 消除换行影响 */
    transform: translateX(-28px);
    display: inline-block;
    animation: blink .5s infinite alternate-reverse;
}

.codes {
    opacity: 0;
    transition: opacity .5s;
    border: 1px solid var(--main-color);
}

.codes-switch {
    width: 100%;
    height: 30px;
    line-height: 30px;
}

.codes-switch > .switch-btn {
    display: inline-block;
    width: 80px;
    height: 100%;
    text-align: center;
    border: 1px solid var(--main-color);
    cursor: pointer;
}

.codes-display {
    position: relative;
    width: 100%;
    height: calc(100% - 30px);
    overflow: hidden;
}

.display-slide {
    width: 300%;
    height: 100%;
    position: absolute;
    left: 0;
    transition: left .3s;
}

.codes-board {
    display: inline-block;
    width: 33.333333333%;
    height: 100%;
    box-sizing: border-box;
    overflow-y: scroll;
    box-shadow: 0px 0px 15px 2px #1daf1d inset;
    padding: 10px;
}