* {
    padding: 0;
    margin: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
    background: #000;
    color: #0f0;
    display: flex;
    justify-content: space-around;
}

.discription,
.display {
    width: 40%;
    height: 90vh;
    transform: translateY(5vh);
}

.operation {
    width: 10%;
    height: 90vh;
    transform: translateY(5vh);
}

.operation-btns {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.btn {
    width: 50px;
    padding: 5px 10px;
    border: 1px solid #0f0;
    text-align: center;
    margin: 10px auto;
    cursor: pointer;
}

.btn-selected {
    background: #0f0;
    color: #fff;
}