<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>扫雷</title>
    <style>
        
    </style>
</head>
<body>
    <div id="app">
        <template v-for="line in arr">
            <div v-for="item in line">{{item}}</div>
        </template>
        <button @click="alterArr()">click</button>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data() {
                return {
                    arr: [
                        [1,2,3,4,5],
                        [6,7,8,9,10]
                    ]
                }
            },
            methods: {
                alterArr(){
                    this.arr[0][0] = 100;
                    console.log(this.arr);
                    this.arr.splice(0,0);
                }       
            }
        });
    </script>
</body>
</html>