<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>扫雷</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <style>
        #scene{
            width: 270px;
            height: 270px;
            box-sizing: content-box;
            position: relative;
            margin: 200px auto;
            border: 5px solid #ccc;
        }
        .tube{
            width: 30px;
            height: 30px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            position: absolute;
            text-align: center;
            line-height: 30px;
            border-radius: 6px;
            box-shadow:0px 0px 2px #000;
        }
        .clicked{
            width: 30px;
            height: 30px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            position: absolute;
            text-align: center;
            line-height: 30px;
        }
        .tube:hover{
            background: #afe0f9;
        }
        .mine{
            border-color: red;
        }
    </style>
</head>
<body>
    <div id="app">
        <div id="scene">
            <template v-for="line in tubes">
                <div 
                    v-for="tube in line" 
                    :style="{left: tube.point.y * 30 + 'px',top: tube.point.x * 30 + 'px'}" 
                    :class="{ mine: tube.mine, tube: !tube.show, clicked: tube.show }"
                    :key="tube.id"
                    @contextmenu.prevent="setItMine()"
                    @click="dig(tube)">
                    <span v-if="tube.show">
                        {{tube.number}}
                    </span>
                </div>
            </template>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script>
        // 尺寸
        const X = 9;
        const Y = 9;
        // 雷的总个数
        const MINE = 10;
        // 坐标点
        class Point{
            constructor(x, y){
                this.x = x;
                this.y = y;
                this.id = '' + x + y;
            }
        }
        new Vue({
            el: '#app',
            data() {
                return {
                    tubes: []
                }
            },
            methods: {
                // 随机布置地雷
                initScene(mineNumber){
                    let _this = this;
                    // 当前未布置的地雷数
                    let currentMineNumber = mineNumber || MINE;
                    // 没雷的坐标
                    let emptyPoint = [];
                    for(let i = 0; i < X; i++){
                        for(let j = 0; j < Y; j++){
                            if(!this.tubes[i][j].mine){
                                emptyPoint.push({
                                    x: _this.tubes[i][j].point.x,
                                    y: _this.tubes[i][j].point.y
                                });
                            }
                        }
                    }
                    // 随机获取一个没雷的坐标设置雷
                    let index = Math.floor(Math.random() * emptyPoint.length);
                    let x = emptyPoint[index].x;
                    let y = emptyPoint[index].y;
                    this.tubes[x][y].mine = true;
                    // 未布置的地雷-1
                    currentMineNumber--;
                    // 剩余未布置的地雷不为0,递归调用,继续随机布置地雷
                    if(currentMineNumber != 0){
                        this.initScene(currentMineNumber);
                    }
                },
                // 填入数字
                fillNumber(){
                    for(let i = 0; i < X; i++){
                        for(let j = 0; j < Y; j++){
                            // 非地雷才需填入数字
                            if(!this.tubes[i][j].mine){
                                // 判断周围8个方块里地雷个数
                                this.tubes[i][j].number = this.getNumber(i, j);
                            }
                        }
                    }
                },
                // 坐标是否超出界外
                inRange(x, y){
                    return x < X && x >= 0 && y < Y && y >= 0;
                },
                // 获取当前方块的值
                getNumber(x, y){
                    let number = 0;
                    // 左上
                    if(this.inRange(x - 1, y - 1)){
                        if(this.tubes[x-1][y-1].mine){
                            number++;
                        }
                    }
                    // 上
                    if(this.inRange(x - 1, y)){
                        if(this.tubes[x-1][y].mine){
                            number++;
                        }
                    }
                    // 右上
                    if(this.inRange(x - 1, y + 1)){
                        if(this.tubes[x-1][y+1].mine){
                            number++;
                        }
                    }
                    // 左
                    if(this.inRange(x, y - 1)){
                        if(this.tubes[x][y-1].mine){
                            number++;
                        }
                    }
                    // 右
                    if(this.inRange(x, y + 1)){
                        if(this.tubes[x][y+1].mine){
                            number++;
                        }
                    }
                    // 左下
                    if(this.inRange(x + 1, y - 1)){
                        if(this.tubes[x+1][y-1].mine){
                            number++;
                        }
                    }
                    // 下
                    if(this.inRange(x + 1, y)){
                        if(this.tubes[x+1][y].mine){
                            number++;
                        }
                    }
                    // 右下
                    if(this.inRange(x + 1, y + 1)){
                        if(this.tubes[x+1][y+1].mine){
                            number++;
                        }
                    }
                    return number;
                },
                // 右键设成地雷
                setItMine(){
                    
                },
                // 点击方块
                dig(tube){
                    console.log(tube)
                    console.log(tube.point.x, tube.point.y)
                    if(!tube.show){
                        // 点到地雷,游戏结束;后续做效果及判断重开
                        if(tube.mine){
                            alert('游戏结束');
                        }
                        else if(tube.number != 0){
                            this.clickTube(tube.point.x, tube.point.y);
                        }
                        else if(tube.number == 0){
                            this.clickTube(tube.point.x, tube.point.y);
                            if(this.inRange(tube.point.x - 1, tube.point.y - 1)){
                                this.dig(this.tubes[tube.point.x - 1][tube.point.y - 1]);
                            }
                            if(this.inRange(tube.point.x - 1, tube.point.y)){
                                this.dig(this.tubes[tube.point.x - 1][tube.point.y]);
                            }
                            if(this.inRange(tube.point.x - 1, tube.point.y + 1)){
                                this.dig(this.tubes[tube.point.x - 1][tube.point.y + 1]);
                            }
                            if(this.inRange(tube.point.x, tube.point.y - 1)){
                                this.dig(this.tubes[tube.point.x][tube.point.y - 1]);
                            }
                            if(this.inRange(tube.point.x, tube.point.y + 1)){
                                this.dig(this.tubes[tube.point.x][tube.point.y + 1]);
                            }
                            if(this.inRange(tube.point.x + 1, tube.point.y - 1)){
                                this.dig(this.tubes[tube.point.x + 1][tube.point.y - 1]);
                            }
                            if(this.inRange(tube.point.x + 1, tube.point.y)){
                                this.dig(this.tubes[tube.point.x + 1][tube.point.y]);
                            }
                            if(this.inRange(tube.point.x + 1, tube.point.y + 1)){
                                this.dig(this.tubes[tube.point.x + 1][tube.point.y + 1]);
                            }
                        }
                    }
                },
                // 单个方块处理
                clickTube(x, y){
                    // this.$set(this.tubes[x][y], 'show', true);
                    this.tubes[x][y].show = true;
                    // 激活view层更新
                    this.tubes.splice(0, 0);
                }                
            },
            created(){
                for(let i = 0; i < X; i++){
                    this.tubes[i] = [];
                    for(let j = 0; j < Y; j++){
                        this.tubes[i].push({
                            point: new Point(i, j),
                            // 是否已经显示
                            show: false,
                            // 是否是地雷
                            mine: false
                        });
                    }
                }
                this.initScene();
                this.fillNumber();
                console.log(this.tubes);
            },
            watch: {
                tubes:{
                    handler(newVal, oldVal){
                        console.log(newVal)
                    },
                    deep: true
                }
            }
        });
    </script>
</body>
</html>